CarFactory/src/main/resources/xsd/provider.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="address.xsd"/>

    <xsd:element name="provider" type="Provider"/>

    <xsd:complexType name="Provider">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="phone" type="xsd:string" minOccurs="0"/>
            <xsd:element name="address" type="Address" minOccurs="0"/>
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:long" use="required"/>
    </xsd:complexType>

</xsd:schema>